In [2]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
data = pd.read_csv("example_data.csv")
data

,Status,Age,Education,Sex,Occupation Field,Relationship/Marital Status,Political Party,Gender,Country Of Residence,Household Income,Race,Employment Status
0,Approved,45,"Associate degree (for example: AA, AS)",Male,Hospitality & Tourism,Married,Democrat,Man,United States,"$40,000-$49,999",White,Full-time
1,Approved,48,"Bachelor's degree (for example: BA, AB, BS)",Male,Manufacturing,Married,Republican,Man,United States,"$70,000-$79,999",White,Full-time
2,Approved,30,"Associate degree (for example: AA, AS)",Female,Business Management & Administration,Single,Democrat,Woman,United States,"$40,000-$49,999",White,Full-time
3,Approved,27,"Bachelor's degree (for example: BA, AB, BS)",Female,Finance,Single,Prefer not to say,Woman,United States,"$90,000-$99,999",White,Full-time
4,Approved,27,High school graduate - high school diploma or ...,Female,Retail,Single,Democrat,Woman,United States,"$50,000-$59,999",White,Full-time
...,...,...,...,...,...,...,...,...,...,...,...,...
157,Approved,19,High school graduate - high school diploma or ...,Male,Other,Single,Independent,Man,United States,"$250,000 or more",White,Student
158,Approved,53,"Professional degree (for example: MD, DDS, DVM...",Male,Legal,Single,Independent,Man,United States,"$20,000-$29,999",White,Part-time
159,Approved,41,"Master's degree (for example: MA, MS, MEng, ME...",Female,Finance,Married,Republican,Woman,United States,"$50,000-$59,999",Black or African American,Full-time
160,Approved,43,"Bachelor's degree (for example: BA, AB, BS)",Male,Information Technology,In a relationship,Republican,Man,United States,"$70,000-$79,999",Chinese,Business Owner
161,Approved,30,"Bachelor's degree (for example: BA, AB, BS)",Male,Information Technology,Single,Democrat,Man,United States,"$80,000-$89,999",Black or African American,Full-time

In [5]:
to_remove = data[(data.Status=='Returned')].index
data = data.drop(to_remove)